/* Sets the border-box */
* {
    box-sizing: border-box;
}

/* Universal properties for the page */
html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: seashell;
    opacity: 0.9;
}
/*--------------------------------------------*/
/* Sets up properties of the hyperlinks */
a {
    color: seashell;
    padding: 10px 10px;
    transition: 0.3s;
}

a:hover {
    background-color: seashell;
    color: black;
}
/*-------------------------------------------*/
/* Sets up properties of the body */
body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;
}

/* Header section */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 69px;
    border-bottom: 1px solid seashell;
}

header img {
    margin-left: 10px;
    height: 50px;
}
/*-------------------------------------------*/
/* Sets the main as a flex box */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

/* Sets the properties of "Mission" section */
#mission {
    background-image: url("images/img-mission-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.mission-text {
    background-color: black;
    text-align: center;
    padding: 5px 10px;
}
/*-------------------------------------------*/

/* Sets the properties of the 'Tea of the month' section */
#tea-of-the-month {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 72%;
    margin: 10px auto;
}

.tea-of-the-month-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tea-of-the-month-images figure {
    width: 300px;
    height: 250px;
    text-align: center;
    margin: -10px 0;
}

.tea-of-the-month-images img {
    width: 100%;
}

.tea-of-the-month-images figcaption {
    margin-top: 10px;
}

.tea-of-the-month-text {
    text-align: center;
    margin-bottom: 30px;
}
/*-------------------------------------------*/

/* Sets the properties of 'Locations" section */
#locations {
    background-image: url("images/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 50px;
}

.location-address {
    width: 300px;
    text-align: center;
    background-color: black;

}

.locations-heading {
    flex-basis: 1200px;
    text-align: center;
    padding: 0 0;
    margin-bottom: -15px;
}
/*-------------------------------------------*/

/* Sets the properties of the 'Contact' section */
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
    min-height: 150px;
    justify-content: space-evenly;
    
}

.contact > * {
    margin: 0;
    min-width: 300px;
    text-align: center;

}
/*-------------------------------------------*/
/* Footer section */
footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}